*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
    background-color: #D1B3C4;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    justify-content: center;
    align-items: center;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 25px;
    background-color: lightpink ;
    font-size: 48px;
    border: none;
    color: black;
}
#resetBtn{
    padding: 15px 40px;
    font-size: 15px;
    border-radius: 15px;
    background-color: blue;
    color: white;
    box-shadow: 2px 2px 5px gray;
    border: none;
}